    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" @onclick="ToggleMenuDisplay" class="navbar-burger @isOpenClass" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu @isOpenClass">
            <div class="navbar-start">
                <NavLink class="navbar-item is-tab" href="product" ActiveClass="is-active">
                    Producten
                </NavLink>
                <AuthorizeView Roles="@Roles.Administrator">
                    <NavLink class="navbar-item is-tab" href="tag" ActiveClass="is-active">
                        Tags
                    </NavLink>
                    <NavLink class="navbar-item is-tab" href="customer" ActiveClass="is-active">
                        Customers
                    </NavLink>
                </AuthorizeView>
            </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <button class="button is-white" @onclick="OpenShoppingCart">
                    <span class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span class="tag">@Cart.Items.Count</span>
                </button>
            </div>
            <AccessControl />
        </div>
    </div>
</nav>
