<EditForm Model="@product" OnValidSubmit="@CreateProductAsync">
    <FluentValidationValidator />
    <div class="field">
        <label class="label">Naam</label>
        <div class="control">
            <InputText class="input" @bind-Value="product.Name" />
            <ValidationMessage For="() => product.Name" />
        </div>
    </div>

    <div class="field">
        <div class="file has-name is-boxed is-fullwidth">
            <label class="file-label">
                <InputFile class="file-input" OnChange="@LoadImage" accept="image/*" />
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label has-text-centered">
                        @if (image is not null)
                        {
                            <span>Wijzig afbeelding</span>
                        }
                        else
                        {
                            <span>Selecteer een afbeelding</span>
                        }
                    </span>
                </span>
                @if (image is not null)
                {
                    <span class="file-name">
                        @image.Name
                    </span>
                }
            </label>
        </div>
        <ValidationMessage For="() => product.ImageContentType" />
    </div>

    <div class="field">
        <label class="label">Omschrijving</label>
        <div class="control">
            <InputTextArea class="textarea" @bind-Value="product.Description" />
            <ValidationMessage For="() => product.Description" />
        </div>
    </div>

    <div class="field">
        <label class="label">Prijs</label>
        <div class="control">
            <InputNumber class="input" @bind-Value="product.Price" />
            <ValidationMessage For="() => product.Price" />
        </div>
    </div>

    <div class="buttons">
        <button class="button is-link is-fullwidth" type="submit">Toevoegen</button>
        <a href="product" class="button is-link is-light is-fullwidth">Annuleren</a>
    </div>
</EditForm>